Body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: aqua;
}
h2 {
    color: chartreuse;
}
h3 {
    color: cornflowerblue;
}
h4 {
    color: darkcyan;
}
h5 {
    color: aquamarine;
}
h6 {
    color: burlywood;
}